<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IndexBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IndexBuilder.Properties.Settings>
            <setting name="BaseIndexUrl" serializeAs="String">
                <value>http://localhost:9200</value>
            </setting>
            <setting name="DescriptionIndexName" serializeAs="String">
                <value>descriptions</value>
            </setting>
            <setting name="RelationshipIndexName" serializeAs="String">
                <value>relationships</value>
            </setting>
            <setting name="ClinicalFindingIndexName" serializeAs="String">
                <value>clinicalfinding</value>
            </setting>
            <setting name="FindingSiteIndexName" serializeAs="String">
                <value>findingsite</value>
            </setting>
            <setting name="Entity" serializeAs="String">
                <value>concept</value>
            </setting>
            <setting name="DescriptionsFilePath" serializeAs="String">
                <value>c:\data\descriptions.txt</value>
            </setting>
            <setting name="RelationshipsFilePath" serializeAs="String">
                <value>c:\data\relationships.txt</value>
            </setting>
            <setting name="DelimiterCode" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="AssociatedMorphologyIndexName" serializeAs="String">
                <value>associatedmorphology</value>
            </setting>
            <setting name="AssociatedWithIndexName" serializeAs="String">
                <value>associatedwith</value>
            </setting>
            <setting name="CausativeAgentIndexName" serializeAs="String">
                <value>causativeagent</value>
            </setting>
            <setting name="DueToIndexName" serializeAs="String">
                <value>dueto</value>
            </setting>
            <setting name="AfterIndexName" serializeAs="String">
                <value>after</value>
            </setting>
            <setting name="SeverityIndexName" serializeAs="String">
                <value>severity</value>
            </setting>
            <setting name="ClinicalCourseIndexName" serializeAs="String">
                <value>clinicalcourse</value>
            </setting>
            <setting name="EpisodicityIndexName" serializeAs="String">
                <value>episodicity</value>
            </setting>
            <setting name="InterpretsIndexName" serializeAs="String">
                <value>interprets</value>
            </setting>
            <setting name="HasInterpritationIndexName" serializeAs="String">
                <value>hasinterpretation</value>
            </setting>
            <setting name="PathologicalProcessIndexName" serializeAs="String">
                <value>pathologicalprocess</value>
            </setting>
            <setting name="OccurenceIndexName" serializeAs="String">
                <value>occurence</value>
            </setting>
            <setting name="FindingMethodIndexName" serializeAs="String">
                <value>findingmethod</value>
            </setting>
            <setting name="FindingInformerIndexName" serializeAs="String">
                <value>findinginformer</value>
            </setting>
            <setting name="HasDefinitionalManifestationIndexName" serializeAs="String">
                <value>hasdefinitionalmanifestation</value>
            </setting>
            <setting name="BuildDescriptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildRelationships" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildClinicalFindings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildFindingSites" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildAssociatedMorphologies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildAssociatedWith" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildCausativeAgents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildDueTos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildAfters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildSeverities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildClinicalCourses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildEpisodicities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildInterprets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildHasInterpretations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildPathologicalProcesses" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildOccurences" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildFindingMethods" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildFindingInformers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BuildHasDefinitionalManifestations" serializeAs="String">
                <value>True</value>
            </setting>
        </IndexBuilder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
